# Feature Engineering on COVID19 data

### Importing required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

### Lets read the data now

In [2]:
data = pd.read_csv('/Users/manis/Downloads/COVID19_line_list_data.csv')
data.head()

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,...,recovered,symptom,source,link,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,...,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,...,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,1/21/2020,NaN,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46.0,01/04/20,...,0,NaN,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60.0,NaN,...,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,male,58.0,NaN,...,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?,NaN,NaN,NaN,NaN,NaN,NaN

### As we have seen during data analysis that some features contained all NaN values. So lets filter out features that do not contain all NaN values

In [3]:
data = data[data.columns[data.isnull().mean()<1]]

In [4]:
data.isnull().mean()

id                       0.000000
case_in_country          0.181567
reporting date           0.000922
summary                  0.004608
location                 0.000000
country                  0.000000
gender                   0.168664
age                      0.223041
symptom_onset            0.481106
If_onset_approximated    0.483871
hosp_visit_date          0.532719
exposure_start           0.882028
exposure_end             0.685714
visiting Wuhan           0.000000
from Wuhan               0.003687
death                    0.000000
recovered                0.000000
symptom                  0.751152
source                   0.000000
link                     0.000000
dtype: float64

### Lets drop the 'id' feature as it is just like row number

In [5]:
data.drop('id', axis=1, inplace=True)
data.head()

,case_in_country,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
0,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,0.0,01/11/20,12/29/2019,01/04/20,1,0.0,0,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...
1,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,0.0,1/15/2020,NaN,01/12/20,0,1.0,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...
2,NaN,1/21/2020,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46.0,01/04/20,0.0,1/17/2020,NaN,01/03/20,0,1.0,0,0,NaN,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...
3,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60.0,NaN,NaN,1/19/2020,NaN,NaN,1,0.0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?
4,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,male,58.0,NaN,NaN,1/14/2020,NaN,NaN,0,0.0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?

### Lets filter out numerical features

In [6]:
num_feat = [feature for feature in data.columns if data[feature].dtype!='O']
num_feat

['case_in_country',
 'age',
 'If_onset_approximated',
 'visiting Wuhan',
 'from Wuhan']

In [7]:
data[num_feat].head()

   case_in_country   age  If_onset_approximated  visiting Wuhan  from Wuhan
0              NaN  66.0                    0.0               1         0.0
1              NaN  56.0                    0.0               0         1.0
2              NaN  46.0                    0.0               0         1.0
3              NaN  60.0                    NaN               1         0.0
4              NaN  58.0                    NaN               0         0.0

### As we have analysed there are different types of feature which we should consider differently. So I am defining function for mean, median, mode imputation. Further I will call these function for different feature as required

In [8]:
def mean_impute(df, feature):
    mean = df[feature].mean()
    df[feature] = df[feature].fillna(mean)

In [9]:
def median_impute(df, feature):
    median = df[feature].median()
    df[feature] = df[feature].fillna(median)

In [10]:
def mode_impute(df, feature):
    mode = df[feature].mode()[0]
    df[feature] = df[feature].fillna(mode)

In [11]:
disc_feat = [feature for feature in num_feat if len(data[feature].unique())<10]
disc_feat

['If_onset_approximated', 'visiting Wuhan', 'from Wuhan']

In [12]:
cont_feat = [feature for feature in num_feat if feature not in disc_feat]
cont_feat

['case_in_country', 'age']

### Lets fill the age missing values with median values

In [13]:
median_impute(data, 'age')

In [14]:
data['age'].isnull().sum()

0

### So now we dont have Nan values in 'age' feature

### Now  consider 'case_in_country' . If we notice 'case_in_country' are NaN for mostly for those who either are from Wuhan or have visited Wuhan. So I think we should not do mean/median/mode imputation rather we should think of some other option

In [15]:
data[data['case_in_country'].isnull()][num_feat]

     case_in_country   age  If_onset_approximated  visiting Wuhan  from Wuhan
0                NaN  66.0                    0.0               1         0.0
1                NaN  56.0                    0.0               0         1.0
2                NaN  46.0                    0.0               0         1.0
3                NaN  60.0                    NaN               1         0.0
4                NaN  58.0                    NaN               0         0.0
..               ...   ...                    ...             ...         ...
192              NaN  31.0                    NaN               0         1.0
193              NaN  27.0                    0.0               0         1.0
194              NaN  28.0                    0.0               0         1.0
195              NaN  51.0                    NaN               0         1.0
196              NaN  37.0                    NaN               0         1.0

[197 rows x 5 columns]

In [16]:
def extreme_impute(df, feature):
    extreme = df[feature].mean()+3*df[feature].std()
    df[feature] = df[feature].fillna(extreme)

In [17]:
extreme_impute(data, 'case_in_country')

In [18]:
data[num_feat].head()

   case_in_country   age  If_onset_approximated  visiting Wuhan  from Wuhan
0       285.401801  66.0                    0.0               1         0.0
1       285.401801  56.0                    0.0               0         1.0
2       285.401801  46.0                    0.0               0         1.0
3       285.401801  60.0                    NaN               1         0.0
4       285.401801  58.0                    NaN               0         0.0

### Lets impute the discrete features with mode i.e frequently occuring values

In [19]:
for feature in disc_feat:
    mode_impute(data, feature)

In [20]:
data[num_feat].isnull().mean()

case_in_country          0.0
age                      0.0
If_onset_approximated    0.0
visiting Wuhan           0.0
from Wuhan               0.0
dtype: float64

### Now we have filled all numerical features NaN values

### Lets move to categorical feature and time series feature

In [21]:
cat_feat = [feature for feature in data.columns if feature not in num_feat]
time_feat = [feature for feature in cat_feat if 'date' in feature or '_' in feature]

In [22]:
time_feat = time_feat + ['death', 'recovered']

In [23]:
cat_feat = [feature for feature in cat_feat if feature not in time_feat]

In [24]:
print('categorical feature: ', cat_feat)
print('\ntime feature: ', time_feat)

categorical feature:  ['summary', 'location', 'country', 'gender', 'symptom', 'source', 'link']

time feature:  ['reporting date', 'symptom_onset', 'hosp_visit_date', 'exposure_start', 'exposure_end', 'death', 'recovered']

In [25]:
for feature in cat_feat:
    print(feature, ' : ', len(data[feature].unique()))

summary  :  968
location  :  156
country  :  38
gender  :  3
symptom  :  109
source  :  85
link  :  490

In [26]:
data[cat_feat].isnull().mean()

summary     0.004608
location    0.000000
country     0.000000
gender      0.168664
symptom     0.751152
source      0.000000
link        0.000000
dtype: float64

### Since categorical features have large number of unique values and if we convert it into numerical feature for training model, number of feature will increase at large scale and will lead to curse of dimensionality so lets drop them. we will keep only 'gender' feature

### 'gender' feature has 16% of NaN values so lets replace its NaN with mode

In [27]:
mode_impute(data, 'gender')

In [28]:
data.drop(columns=['summary', 'location', 'country', 'symptom', 'source', 'link'], inplace=True)

In [29]:
data.head()

,case_in_country,reporting date,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered
0,285.401801,1/20/2020,male,66.0,01/03/20,0.0,01/11/20,12/29/2019,01/04/20,1,0.0,0,0
1,285.401801,1/20/2020,female,56.0,1/15/2020,0.0,1/15/2020,NaN,01/12/20,0,1.0,0,0
2,285.401801,1/21/2020,male,46.0,01/04/20,0.0,1/17/2020,NaN,01/03/20,0,1.0,0,0
3,285.401801,1/21/2020,female,60.0,NaN,0.0,1/19/2020,NaN,NaN,1,0.0,0,0
4,285.401801,1/21/2020,male,58.0,NaN,0.0,1/14/2020,NaN,NaN,0,0.0,0,0

### Lets perform one hot encoding on 'gender' feature

In [30]:
data = pd.get_dummies(data, columns=['gender'], drop_first=True)

In [31]:
data.head()

,case_in_country,reporting date,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,gender_male
0,285.401801,1/20/2020,66.0,01/03/20,0.0,01/11/20,12/29/2019,01/04/20,1,0.0,0,0,1
1,285.401801,1/20/2020,56.0,1/15/2020,0.0,1/15/2020,NaN,01/12/20,0,1.0,0,0,0
2,285.401801,1/21/2020,46.0,01/04/20,0.0,1/17/2020,NaN,01/03/20,0,1.0,0,0,1
3,285.401801,1/21/2020,60.0,NaN,0.0,1/19/2020,NaN,NaN,1,0.0,0,0,0
4,285.401801,1/21/2020,58.0,NaN,0.0,1/14/2020,NaN,NaN,0,0.0,0,0,1

### Now time series features is left to replace missing values

In [32]:
data[time_feat].head()

,reporting date,symptom_onset,hosp_visit_date,exposure_start,exposure_end,death,recovered
0,1/20/2020,01/03/20,01/11/20,12/29/2019,01/04/20,0,0
1,1/20/2020,1/15/2020,1/15/2020,NaN,01/12/20,0,0
2,1/21/2020,01/04/20,1/17/2020,NaN,01/03/20,0,0
3,1/21/2020,NaN,1/19/2020,NaN,NaN,0,0
4,1/21/2020,NaN,1/14/2020,NaN,NaN,0,0

In [33]:
for feature in time_feat:
    if feature in ['death', 'recovered']:
        pass
    else:
        data[feature] = pd.to_datetime(data[feature])

In [34]:
data[time_feat].isnull().mean()

reporting date     0.000922
symptom_onset      0.481106
hosp_visit_date    0.532719
exposure_start     0.882028
exposure_end       0.685714
death              0.000000
recovered          0.000000
dtype: float64

### Lets drop the rows that have most of the time feature missing

In [35]:
data.dropna(axis=0, how='all', subset=['symptom_onset','hosp_visit_date', 'exposure_start', 'exposure_end'], inplace=True)

In [36]:
data.isnull().mean()

case_in_country          0.000000
reporting date           0.000000
age                      0.000000
symptom_onset            0.220222
If_onset_approximated    0.000000
hosp_visit_date          0.297784
exposure_start           0.822715
exposure_end             0.527701
visiting Wuhan           0.000000
from Wuhan               0.000000
death                    0.000000
recovered                0.000000
gender_male              0.000000
dtype: float64

In [37]:
data[time_feat].head(10)

,reporting date,symptom_onset,hosp_visit_date,exposure_start,exposure_end,death,recovered
0,2020-01-20,2020-01-03,2020-01-11,2019-12-29,2020-01-04,0,0
1,2020-01-20,2020-01-15,2020-01-15,NaT,2020-01-12,0,0
2,2020-01-21,2020-01-04,2020-01-17,NaT,2020-01-03,0,0
3,2020-01-21,NaT,2020-01-19,NaT,NaT,0,0
4,2020-01-21,NaT,2020-01-14,NaT,NaT,0,0
5,2020-01-21,2020-01-15,NaT,NaT,NaT,0,0
6,2020-01-21,2020-01-11,NaT,NaT,NaT,0,0
7,2020-01-21,2020-01-14,2020-01-20,2020-01-10,2020-01-11,0,0
8,2020-01-21,2020-01-09,2020-01-14,2020-01-03,2020-01-04,0,0
9,2020-01-21,2020-01-16,2020-01-20,2020-01-08,2020-01-16,0,0

### lets deal with the time feature

In [38]:
data['period_between_symptom_onset_hosp_visit'] = data['hosp_visit_date']-data['symptom_onset']

In [39]:
data['period_between_symptom_onset_hosp_visit'] = data['period_between_symptom_onset_hosp_visit'].astype('timedelta64[D]')

In [40]:
data['period_of_exposure'] = data['exposure_end'] - data['exposure_start']
data['period_of_exposure'] = data['period_of_exposure'].astype('timedelta64[D]')

In [41]:
data['period_of_symptom_onset_with_exposure'] = data['symptom_onset'] - data['exposure_start']
data['period_of_symptom_onset_with_exposure'] = data['period_of_symptom_onset_with_exposure'].astype('timedelta64[D]')

In [42]:
data['days_reported_after_hosp_visit'] = data['reporting date'] - data['hosp_visit_date']
data['days_reported_after_hosp_visit'] = data['days_reported_after_hosp_visit'].astype('timedelta64[D]')

In [43]:
data.head()

,case_in_country,reporting date,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,gender_male,period_between_symptom_onset_hosp_visit,period_of_exposure,period_of_symptom_onset_with_exposure,days_reported_after_hosp_visit
0,285.401801,2020-01-20,66.0,2020-01-03,0.0,2020-01-11,2019-12-29,2020-01-04,1,0.0,0,0,1,8.0,6.0,5.0,9.0
1,285.401801,2020-01-20,56.0,2020-01-15,0.0,2020-01-15,NaT,2020-01-12,0,1.0,0,0,0,0.0,NaN,NaN,5.0
2,285.401801,2020-01-21,46.0,2020-01-04,0.0,2020-01-17,NaT,2020-01-03,0,1.0,0,0,1,13.0,NaN,NaN,4.0
3,285.401801,2020-01-21,60.0,NaT,0.0,2020-01-19,NaT,NaT,1,0.0,0,0,0,NaN,NaN,NaN,2.0
4,285.401801,2020-01-21,58.0,NaT,0.0,2020-01-14,NaT,NaT,0,0.0,0,0,1,NaN,NaN,NaN,7.0

### now lets drop date features which contains date

In [44]:
data.drop(columns=['reporting date', 'symptom_onset', 'hosp_visit_date', 'exposure_start', 'exposure_end'], inplace=True)

In [45]:
data.head()

,case_in_country,age,If_onset_approximated,visiting Wuhan,from Wuhan,death,recovered,gender_male,period_between_symptom_onset_hosp_visit,period_of_exposure,period_of_symptom_onset_with_exposure,days_reported_after_hosp_visit
0,285.401801,66.0,0.0,1,0.0,0,0,1,8.0,6.0,5.0,9.0
1,285.401801,56.0,0.0,0,1.0,0,0,0,0.0,NaN,NaN,5.0
2,285.401801,46.0,0.0,0,1.0,0,0,1,13.0,NaN,NaN,4.0
3,285.401801,60.0,0.0,1,0.0,0,0,0,NaN,NaN,NaN,2.0
4,285.401801,58.0,0.0,0,0.0,0,0,1,NaN,NaN,NaN,7.0

### Now lets see how many nan values are in our new feature

In [46]:
data.isnull().mean()

case_in_country                            0.000000
age                                        0.000000
If_onset_approximated                      0.000000
visiting Wuhan                             0.000000
from Wuhan                                 0.000000
death                                      0.000000
recovered                                  0.000000
gender_male                                0.000000
period_between_symptom_onset_hosp_visit    0.378116
period_of_exposure                         0.831025
period_of_symptom_onset_with_exposure      0.885042
days_reported_after_hosp_visit             0.297784
dtype: float64

### Lets fill these nan with mean value

In [47]:
nan_feat = [feature for feature in data.columns if data[feature].isnull().sum()>1]
nan_feat

['period_between_symptom_onset_hosp_visit',
 'period_of_exposure',
 'period_of_symptom_onset_with_exposure',
 'days_reported_after_hosp_visit']

In [48]:
for feature in nan_feat:
    mean_impute(data, feature)

In [49]:
data.isnull().sum()

case_in_country                            0
age                                        0
If_onset_approximated                      0
visiting Wuhan                             0
from Wuhan                                 0
death                                      0
recovered                                  0
gender_male                                0
period_between_symptom_onset_hosp_visit    0
period_of_exposure                         0
period_of_symptom_onset_with_exposure      0
days_reported_after_hosp_visit             0
dtype: int64

### Now we dont have nan values. Lets have a look on our dataset

In [50]:
data.head()

,case_in_country,age,If_onset_approximated,visiting Wuhan,from Wuhan,death,recovered,gender_male,period_between_symptom_onset_hosp_visit,period_of_exposure,period_of_symptom_onset_with_exposure,days_reported_after_hosp_visit
0,285.401801,66.0,0.0,1,0.0,0,0,1,8.000000,6.000000,5.000000,9.0
1,285.401801,56.0,0.0,0,1.0,0,0,0,0.000000,5.131148,8.180723,5.0
2,285.401801,46.0,0.0,0,1.0,0,0,1,13.000000,5.131148,8.180723,4.0
3,285.401801,60.0,0.0,1,0.0,0,0,0,2.761693,5.131148,8.180723,2.0
4,285.401801,58.0,0.0,0,0.0,0,0,1,2.761693,5.131148,8.180723,7.0

### Lets look at 'death' and 'recovered' features once

In [51]:
data['recovered'].value_counts()

0             582
12/30/1899     12
2/19/2020      12
2/18/2020      11
02/12/20       10
2/21/2020      10
2/15/2020       8
2/14/2020       7
1               7
2/20/2020       7
02/09/20        6
2/17/2020       6
2/24/2020       5
2/26/2020       4
02/06/20        4
2/25/2020       4
02/04/20        4
2/27/2020       3
2/16/2020       3
2/22/2020       3
1/30/2020       2
02/11/20        2
02/08/20        2
02/05/20        1
02/07/20        1
1/17/2020       1
1/31/2020       1
2/23/2020       1
02/02/20        1
2/13/2020       1
1/15/2020       1
Name: recovered, dtype: int64

In [52]:
data['death'].value_counts()

0            674
1             41
2/27/2020      1
2/13/2020      1
2/26/2020      1
2/14/2020      1
2/25/2020      1
2/28/2020      1
02/01/20       1
Name: death, dtype: int64

### We can see there are some date values also other than 0 and 1 in 'death' and 'recovered' feature

In [53]:
for feature in ['death', 'recovered']:
    for i in data.index:
        if data.loc[i, feature] in ['0', '1']:
            pass
        else:
            data.loc[i, feature] = '1'
    data[feature] = data[feature].astype('int64')

In [54]:
data['death'].value_counts()

0    674
1     48
Name: death, dtype: int64

In [55]:
data['recovered'].value_counts()

0    582
1    140
Name: recovered, dtype: int64

### Now lets have a look on our data again

In [56]:
data.head()

,case_in_country,age,If_onset_approximated,visiting Wuhan,from Wuhan,death,recovered,gender_male,period_between_symptom_onset_hosp_visit,period_of_exposure,period_of_symptom_onset_with_exposure,days_reported_after_hosp_visit
0,285.401801,66.0,0.0,1,0.0,0,0,1,8.000000,6.000000,5.000000,9.0
1,285.401801,56.0,0.0,0,1.0,0,0,0,0.000000,5.131148,8.180723,5.0
2,285.401801,46.0,0.0,0,1.0,0,0,1,13.000000,5.131148,8.180723,4.0
3,285.401801,60.0,0.0,1,0.0,0,0,0,2.761693,5.131148,8.180723,2.0
4,285.401801,58.0,0.0,0,0.0,0,0,1,2.761693,5.131148,8.180723,7.0

In [57]:
data.to_csv('COVID19.csv', index=False)